ipykernel
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain_huggingface
langchain_groq
sentence_transformers
langchain_chroma
langchain_ollama
langchain_classic
langserve
chromadb
faiss-cpu
python-dotenv
pypdf
bs4
arxiv
wikipedia
pymupdf
wikipedia
streamlit
fastapi
uvicorn
sse_starlette
ddgs
mysql-connector-python
sqlalchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
tiktoken
datasets
gradio